// base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;


/* 全局 css 变量 */
$primaryColor: var(--el-color-primary);

// sidebar
$menuText: #fff;
$menuActiveText: #fff;
$subMenuActiveText: #fff;

$menuBg: #04074a;
$menuHover: #04074a;

$subMenuBg: #04074a;
$subMenuHover: #04074a;

$sideBarWidth: 210px;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  primaryColor: $primaryColor;
}
